@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans Arabic", ui-sans-serif, system-ui, sans-serif;
  
  --color-surface-container: #edeef0;
  --color-inverse-primary: #b2c5ff;
  --color-inverse-surface: #2e3132;
  --color-surface-container-high: #e7e8ea;
  --color-on-tertiary-fixed-variant: #3f4850;
  --color-on-tertiary: #ffffff;
  --color-on-surface: #191c1e;
  --color-background: #f8f9fb;
  --color-tertiary-container: #535c65;
  --color-surface-bright: #f8f9fb;
  --color-surface-tint: #0c56d0;
  --color-secondary-container: #dfe0e0;
  --color-on-error-container: #93000a;
  --color-tertiary-fixed-dim: #bec7d2;
  --color-on-secondary-fixed-variant: #454747;
  --color-surface-variant: #e1e2e4;
  --color-surface-container-highest: #e1e2e4;
  --color-surface-container-lowest: #ffffff;
  --color-primary-fixed-dim: #b2c5ff;
  --color-inverse-on-surface: #f0f1f3;
  --color-on-background: #191c1e;
  --color-on-tertiary-container: #cbd4df;
  --color-on-primary-fixed-variant: #0040a2;
  --color-tertiary: #3c454d;
  --color-primary-fixed: #dae2ff;
  --color-surface: #f8f9fb;
  --color-outline-variant: #c3c6d6;
  --color-on-primary: #ffffff;
  --color-surface-dim: #d9dadc;
  --color-primary: #003d9b;
  --color-on-secondary: #ffffff;
  --color-error: #ba1a1a;
  --color-on-surface-variant: #434654;
  --color-secondary-fixed: #e2e2e2;
  --color-primary-container: #0052cc;
  --color-surface-container-low: #f3f4f6;
  --color-on-tertiary-fixed: #141c24;
  --color-on-secondary-fixed: #1a1c1c;
  --color-on-primary-fixed: #001848;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-secondary-fixed-dim: #c6c6c7;
  --color-outline: #737685;
  --color-tertiary-fixed: #dae3ee;
}

body {
  font-family: var(--font-sans);
  @apply bg-surface-bright text-on-surface;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* RTL Helpers */
